# MQTT configuration
MQTT_BROKER_HOST=mqtt-broker
MQTT_BROKER_PORT=1883
MQTT_TOPIC=sensors

# Telegraf configuration
TELEGRAF_INFLUXDB_ADMIN_TOKEN_SECRET_NAME=influxdb_admin_token

# InfluxDB configuration
INFLUXDB_HOST=influxdb
INFLUXDB_PORT=8086
INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=devminds
INFLUXDB_ADMIN_TOKEN=devminds
INFLUXDB_ORGANISATION=devminds
INFLUXDB_BUCKET=sensors

# Grafana configuration
GRAFANA_PORT=3000
GRAFANA_USERNAME=admin
GRAFANA_PASSWORD=devminds
