# Copy this file to .env and set strong, unique values.

# InfluxDB configuration
INFLUXDB_INIT_USERNAME=admin
INFLUXDB_INIT_PASSWORD=devminds
INFLUXDB_INIT_ORG=devminds
INFLUXDB_INIT_BUCKET=sensors
INFLUXDB_INIT_ADMIN_TOKEN=devminds

# Grafana configuration
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=devminds
